<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Baper Hotel</h1>
    <p class="display-5 text-lead">We serve the best quality, healthy and hygenic foods at pocket-friendly fares. Please visit our menu page for delicious foods. Hurry up! and order your favorite food now.</p>
{% endblock content %}



</body>
</html>